/* FONT STYLE  */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* VARIABLE CSS */
:root {
  --header-height: 3.5rem;

  /* COLORS  */
  /* Color mode HSL(hue, saturation, lightness) */

  --first-color: hsl(106, 64%, 54%);
  --first-color-alt: hsl(106, 64%, 52%);
  --title-color: hsl(104, 16%, 13%);
  --text-color: hsl(99, 34%, 11%);
  --text-color-light: hsl(113, 9%, 17%);
  --body-color: hsl(107, 24%, 89%);
  --container-color: hsl(0, 0%, 99%);

  /* FONT TYPOGRAPHY  */
  /* .5rem=8px | 1rem=16px  */
  --brand-font: "PT Serif", sans-serif;
  --body-font: "Nunito", sans-serif;
  --biggest-font-size: 4.5rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /* FONT WEIGHT  */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Z INDEX  */
  --z-tooltip: 10;
  --z-fixed: 100;
}
/* RESPONSIVE TYPOGRAPHY  */
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 9.5rem;
    --big-font-size: 4rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* BASE  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

input,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--body-font);
  font-weight: var(--font-medium);
  line-height: 110%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* REUSABLE CSS CLASSES  */
.container {
  max-width: 1120px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 5rem 4rem;
}

.section__title {
  text-align: center;
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}
.main {
  overflow: hidden;
}

/* HEADER  */
.header {
  padding-block: 2rem;
}
.header__container {
  display: flex;
  flex-direction: column;
}
.section__title {
  margin-bottom: 0.5rem;
  font-family: var(--brand-font);
  font-size: var(--h1-font-size);
  text-align: left;
  color: var(--title-color);
}
.header__description {
  font-size: var(--h3-font-size);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
  color: var(--text-color-light);
  max-width: 500px;
}

/* PRODUCTS  */
.products__card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--container-color);
}
.products__image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 0.5rem;
}
